<html>
    <head>
        <title>Playlist Converter</title>
        <script src="/static/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

        <link rel="import" href="/static/bower_components/polymer/polymer.html">
        <link rel="import" href="/static/bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="/static/bower_components/paper-input/paper-input.html">
        <link rel="import" href="/static/bower_components/paper-material/paper-material.html">
        <link rel="import" href="/static/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/static/bower_components/paper-toast/paper-toast.html">

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <paper-material id="input-box">
            <div id="login-text">Google Play Music Login</div>

            <paper-input id="userinput" label="email">
            </paper-input>

            <paper-input id="passinput" label="password" type="password">
            </paper-input>

            <paper-button id="loginbutton" onclick="login()">
            Convert To Spotify
            </paper-button>

        </paper-material>

        {% if success %}
        <paper-toast id="toast" text="Successfully created playlists!" opened></paper-toast>
        {% endif %}
    </body>

    <script>
        function login(){
            username = document.querySelector("#userinput").value;
            password = document.querySelector("#passinput").value;
            post("/convert", {"user": username, "pass": password});
        }

        function post(path, params, method) {
            method = method || "post"; 

            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                 }
            }

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</html>
